@mixin translateY($e) {
	-webkit-transform: translateY($e);
	-moz-transform: translateY($e);
	transform: translateY($e);
}

@mixin transition($e) {
	-webkit-transition: $e;
	-moz-transition: $e;
	transition: $e;
}

a {
	text-decoration: none !important;
	@include transition(.4s ease-in-out);
	cursor: pointer;

	&:hover {
		color: #33C4FF;
		@include transition(.4s ease-in-out);
	}
}